body {
  background: yellow;
}

form label {
  display: block;
  font-size: 20px;
}

form input {
  display: block;
  font-size: 20px;
  background: black;
  color: blue;
  
  
    td {
      border: 1px solid #000000;
      border-color: cor;
}

  td, th {

      border: 1px solid #000000;
      border-color: cor;
    
          }

